<p id="notice"><%= notice %></p>

    <% content_for :banner do %>
        style="background-image: url('assets/home-bg.jpg')"
    <% end %>

    <% content_for :header do %>
        <h1>Manage Posts</h1>
        <hr class="small">
        <span class="subheading">No one should see this but me......</span>
    <% end %>


<% content_for :body do %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= truncate(post.content, length: 100) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<% end %>